/.classpath
/.project
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.jdt.ui.prefs
/Assignment_EQ_reduced.xml
/Assignment_SSH_reduced.xml
/EH2745 Assignment I ver 2.0.pdf
/MicroGridTestConfiguration_T1_BE_EQ_V2.xml
/MicroGridTestConfiguration_T1_BE_SSH_V2.xml
